body {
  background-image: url("/assets/background/sky.png");
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
}

.header {
  text-align: center;
  border: 1px solid black;
}

.statistics {
  border: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  font-size: 1.1em;
}

.statistic-item {
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.statistic-item > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#lives {
  width: 30%;
  text-align: center;
}

.game {
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 3em;
}

.canvas {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.answers > button {
  margin: 2em;
}

#jump-run-game {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.active {
  z-index: 10;
  visibility: visible;
}

.invisible {
  /* z-index: -10; */
  /* visibility: hidden; */
  display: none !important;
}

#jump-run-starter {
  border: 1px solid black;
}

#statement {
  /* font-size: 2em; */
}

button {
  font-size: 1em;
  font-family: "Bangers", cursive;
  border-radius: 0.5em;
  background-color: white;
  text-align: center;
  padding: 1em 1.5em;
}

#jump-run-starter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
