.invisible {
  display: none !important;
}

canvas {
  border-radius: 2em;
  border: none;
}

body {
  background-image: url("assets/cssBackgrounds/game_background_1.png");
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0.5em;
  margin: 0;
}

.jump-run-background {
  background-image: url("assets/background/sky.png");
}

#player-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: stretch;
  /* margin-bottom: 2em; */
  width: 40%;
}

.button-clicked {
  background-color: teal;
  color: white;
}

#obstacle-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 40%;
}

#character-selection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 80vh;
  /* width: 100vw; */
  /* padding: 0.5em; */
  padding-bottom: 2.35em;
}

#continue {
  margin: 2em;
}

#all-character-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 2em;
  /* align-items: center; */
}

#game-header {
  margin-bottom: 1em;
}

.game-body {
  height: 70vh;
}

.page-content {
}

#trivia-game-playing {
  height: 80%;
  /* padding: 5em; */
}
.game-element {
  text-align: center;
  /* border: 1px solid black; */
  background-color: rgba(223, 226, 199, 0.8);
  border-radius: 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 70vw;
}

.game-playing-header {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.game-playing-header > div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0 3em;
}

.game-parts {
  border-top: 2px solid rgb(200, 202, 180);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* padding: 2em; */
}

.game-parts > div {
  height: 60vh;
}

#statistics {
  border-right: 2px solid rgb(200, 202, 180);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  padding: 0 1em;
  font-size: 1.1em;
}

.statistic-item {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#the-game-screen {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.game {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1em;
}

#start {
  margin-top: 1em;
}

#statement {
  height: 50%;
  margin: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#statement > p {
  height: 50%;
}

.answers {
  margin: 1em;
  height: 50%;
}

#jump-run-starter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

#jump-run-game {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1em;
  font-family: "Orbitron", sans-serif;
  border-radius: 0.5em;
  background-color: white;
  text-align: center;
  padding: 1em 1.5em;
  margin: 0 2em;
}
